<h2><%= @creditor.name %>さんからあなたに以下の内容で承認依頼が届いています！</h2>

<h4>・<%= @creditor.name %> さんが あなたに <%= @transaction.debt %> 円 を貸している</h4>

<%= form_for(@transaction, url: approve_or_deny_debtor_transaction_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
   
    <%= f.label :approval, "承認" %>
    <%= f.radio_button :approval, true %> <br />
    <%= f.label :approval, "拒否" %>
    <%= f.radio_button :approval, false %> <br />
  
    <%= f.submit "送信"%>
  </div>
<% end %>