<h2><%= current_user.name %>さんが貸した記録</h4>
<% i = 0 %>
<% if @transactions.any? %>
  <% @transactions.each do |transaction| %>
    <% debtor = User.find(transaction.debtor_id) %>
    <p>貸した人：　　<%= debtor.name %></p>
    <p>貸した金額：　<%= transaction.debt %></p>
    <p><%= link_to "編集", edit_debtor_transaction_path(id: transaction.id) %></p>
    <p><%= link_to "削除", debtor_transaction_path(id: transaction.id), method: :delete %></p>
    <% if transaction.approval.nil? %>
      <% i += 1 %>
      <textarea id="debtor-clipboard-<%= current_user.id %>-<%= i %>">
        <%= "#{approval_debtor_transaction_url(id: transaction.id)}" %>
      </textarea>
      <button class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#debtor-clipboard-<%= current_user.id %>-<%= i %>">
        承認用のリンクをコピー
      </button>
    <% else %>
      <% if transaction.approval %>
        <p>承認済み</p>
      <% else %>        
        <p>拒否されました</p>
      <% end %>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <p>現在貸している人はいません！</p>
<% end %>